__pycache__/
*.pyc
*.pyo
.venv/
venv/
node_modules/
.env
*.egg-info/
/dist/
.DS_Store
*.egg
.eggs/
build/
*.whl

# VS Code extension
/vscode-extension/node_modules/
/vscode-extension/out/
/vscode-extension/*.vsix
